.mainBg {
    background-image: url("https://raw.githubusercontent.com/SumonaShimu/FoodData/main/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bgred {
    background-color: #ffffff;
    min-height: 100px;
}

.img-fit {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.bggrey{
    background-color: rgba(11, 19, 22, 0.441);
}

.bgReg {
    background-color: rgba(17, 26, 43, 0.726);
}

li {
    list-style: none;
}

.links {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: 500;
}

.links:hover {
    background-color: orange;
    color: rgb(100, 1, 1);
    padding: 0 10px;
    border-radius: 10px;
}

.banner-container {
    min-height: 100vh;
    width: 100%;
    background-image: url("https://raw.githubusercontent.com/SumonaShimu/FoodData/main/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-text {
    text-align: center;
}

.banner-title {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 1px 1px rgb(255, 0, 0);
}

/* aboutUs */
.about {
    display: flex;
    margin: 0 auto;
}

/* chef cards */
.card-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: contain;
}


/* login */
.loginbg {
    background-image: url("https://raw.githubusercontent.com/SumonaShimu/FoodData/main/right.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* registration */
.regBg {
    background-image: url("https://raw.githubusercontent.com/SumonaShimu/FoodData/main/bg4.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* recepies */
.recepies-img {
    height: 400px;
    width: 100%;
    padding: 20px;
}
/* media query */
@media screen and (max-width: 768px) {
    .text-warning {
        text-shadow: 1px 1px rgb(0, 0, 0) !important;
    }

    .banner-title {
        text-shadow: 1px 1px rgb(255, 81, 0);
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }
}